<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/style.css">
			<link rel="shortcut icon" type="image/png" href="/favicon.png">
			<link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet" type="text/css">
			<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

		</head>
		<body>
			<header>
				<a href="/"><h1>4<em>th</em> Room</h1></a>
				<p>Part of <em>Group 547</em>.</p>

			</header>
			<nav>
	    		<ul>
					<li><a class="home" href="/"></a></li>
					<li><a class="about" href="/about"></a></li>
	        		<li><a class="cv" href="/cv"></a></li>
	        		<li><a class="blog" href="/blog"></a></li>
					<li><a class="pens" href="/pens"></a></li>

	    		</ul>
			</nav>
			<div class="container">

				{{ content }}

			</div>
			<div id="clearfix"></div>
			<footer>
	    		<ul>
	        		<li><a href="mailto:4rkiel@gmail.com">Email</a></li>
					<li><a href="https://twitter.com/4rkiel">Twitter</a></li>
	        		<li><a href="https://github.com/4rkiel">Github</a></li>
				</ul>

				<li><a class="about" href="/about">4rk @ Lizcorp</a></li>
			</footer>
		</body>
	</html>
